@use '@/scss/_mixins' as *;

.product-catalog {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;

  @include breakpoint(tablet) {
    gap: 4.0625rem;
  }

  &__empty-results {
    margin: 0;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-thin);
    line-height: 0.906875rem;
    color: var(--color-text-secondary);
  }
}
