@use '@/scss/_mixins' as *;

.cart-view {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;

  &__heading {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-thin);
    text-transform: uppercase;

    @include breakpoint(tablet) {
      font-size: var(--font-size-xl);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2.5rem;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: auto;

    &--has-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'total total'
        'continue pay';
      gap: 0.75rem;

      @include breakpoint(tablet) {
        display: flex;
        flex-direction: row;
        align-items: center;
        display: grid;
        grid-template-columns: minmax(12.5rem, auto) auto minmax(16.25rem, auto);
        grid-template-areas: 'continue total pay';
        gap: 3.5rem;
      }

      @include breakpoint(desktop) {
        grid-template-columns: minmax(16.25rem, auto) auto minmax(16.25rem, auto);
        gap: 5rem;
      }
    }
  }

  &__btn-continue {
    grid-area: continue;
    font-size: var(--font-size-sm);
    align-self: start;
    display: flex;
    justify-content: center;
    padding: 1.125rem;
  }

  &__btn-pay {
    grid-area: pay;
    font-size: var(--font-size-sm);
  }

  &__total {
    grid-area: total;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 0;

    @include breakpoint(tablet) {
      justify-content: flex-end;
      align-items: flex-end;
      gap: 0.25rem;
    }
  }

  &__total-label {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__total-value {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
  }
}
