.similar-products {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  min-width: 0;

  &__heading {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-thin);
    text-transform: uppercase;
  }
}
