.storage-selector {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  &__label {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-thin);
    text-transform: uppercase;
    color: var(--color-text-primary);
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
  }

  &__chip {
    padding: 1rem 1.5rem;
    min-width: 95px;
    margin-right: -1px;
    border: 1px solid var(--color-border);
    color: var(--color-text-primary);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-thin);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &[data-selected='true'] {
      z-index: var(--z-base);
      border-color: var(--color-text-primary);
    }
  }
}
