@use '@/scss/_mixins' as *;

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;

  @include breakpoint(tablet) {
    padding: 2.5rem 3.75rem;
  }

  @include breakpoint(desktop) {
    padding: 3.125rem 6.25rem;
  }

  &:has([data-page='product-detail']) {
    padding-top: 0;
  }
}
