@use '@/scss/_mixins' as *;

$gallery-width: 42.5%;
$info-max-width-tablet: max(23.75rem, $gallery-width);
$info-max-width-desktop: max(25rem, $gallery-width);
$info-top-offset: 5.5rem;
$gallery-height: 28.75rem;
$heading-gap: 0.6875rem;

.product-detail-hero {
  display: grid;
  align-items: center;

  min-height: calc(100vh - 2.75rem - 5.3125rem - 3.5rem);

  @include breakpoint(tablet) {
    gap: 1rem;
    grid-template-columns: $gallery-width auto;
    min-height: calc(100vh - 5.3125rem - 5.3125rem - 7.5rem);
  }
  @include breakpoint(desktop) {
    gap: 0;
    grid-template-columns: 42.5% minmax($info-max-width-desktop, auto);
  }

  &__gallery {
    position: relative;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    height: auto;
    max-width: 200px;
    width: 200px;

    img {
      object-position: left;
      transform: scale(1);
    }

    @include breakpoint(tablet) {
      aspect-ratio: auto;
      width: 100%;
      max-width: none;
      height: $gallery-height;
    }
  }

  &__image {
    position: absolute;
    inset: 0;
  }

  &__selectors {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include breakpoint(tablet) {
      gap: 2.5rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @include breakpoint(tablet) {
      min-width: $info-max-width-tablet;
      justify-self: flex-end;
      display: grid;
      align-content: space-between;
    }
    @include breakpoint(desktop) {
      min-height: 460px;
      margin-left: auto;
    }
  }

  &__heading {
    display: grid;
    gap: $heading-gap;
  }

  &__name {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-thin);
    text-transform: uppercase;
    line-height: 1.2;

    @include breakpoint(tablet) {
      font-size: var(--font-size-xl);
    }
  }

  &__price {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-thin);
    grid-area: 2 / 1;

    @include breakpoint(tablet) {
      font-size: var(--font-size-lg);
    }
  }
}
