@use 'sass:map';

$breakpoints: (
  'mobile': 393px,
  'tablet': 768px,
  'desktop': 1024px,
);

@mixin breakpoint($breakpoint) {
  $value: $breakpoint;

  @if map.has-key($breakpoints, $breakpoint) {
    $value: map.get($breakpoints, $breakpoint);
  }

  @media (min-width: $value) {
    @content;
  }
}

@mixin full-width {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  margin-right: -50vw;
  margin-left: -50vw;
}
